* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: gray;
}

h1,
p {
  margin: 0;
}

.app-container {
  padding: 66px 62px 121px 51px;
  width: 345px;
  height: 600px;
  position: relative;
  background-image: url('/images/phone.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.main-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 69px;
  left: 146px;
  background: black;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition:
    box-shadow 0.3s ease,
    background 0.3s ease;
  cursor: pointer;
}

.main-btn-anim {
  animation: shadowAnimation 2s infinite linear;
}

.main-btn-anim:active {
  transform: scale(90%);
}

@keyframes shadowAnimation {
  0% {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.display {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0) 80%),
    linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
}

.display-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 32px;
  width: 100%;
  height: 30%;
}

.date-container {
  display: flex;
  padding: 2px;
  justify-content: space-between;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
}

.number-area {
  height: 36px;
  text-align: center;
}

.number-area-name {
  text-align: center;
  font-size: 16px;
}

.stopwatch-area {
  margin-top: 10px;
  font-size: 16px;
}

.stopwatch {
  text-align: end;
}

.call-buttons {
  padding: 20px;
  width: 100%;
  height: 67%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: auto;
  color: black;
  border-radius: 50%;
  font-size: 22px;
  border: 2px solid #4d8e92;
  cursor: pointer;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.grid-item:active {
  transform: scale(90%);
}

.bottom-buttons {
  justify-content: space-between;
  padding: 10px;
}

.ring-button {
  width: 40px;
  height: 40px;
  background-image: url('/images/ring-green.png');
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.end-button {
  background-image: url('/images/ring-end.png');
}

.ring-button:active {
  transform: scale(90%);
}

.delete-number {
  width: 40px;
  height: 40px;
  background-image: url('/images/delete.png');
  background-size: contain;
  cursor: pointer;
}

.delete-number:active {
  transform: scale(90%);
}

.main-display-container {
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 10px 10px 25px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.menu-title {
  padding: 5px 5px 0;
  text-align: center;
  font-size: 24px;
}

.menu-description {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.small-description {
  font-size: 13px;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-item:active {
  transform: scale(90%);
}

.menu-icon {
  width: 80px;
  height: 80px;
  background-size: contain;
}

.small-icon {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.call-log {
  background-image: url('/images/call-log.png');
}

.calls-list {
  height: 305px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  overflow: auto;
}

.calls-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid red;
  cursor: pointer;
  transition-duration: 0.2s;
}

.calls-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.calls-item:active {
  transform: scale(95%);
}

.calls-icon {
  width: 32px;
  height: 32px;
}

.calls-name {
  font-weight: bold;
  font-size: 14px;
}

.call-log-date {
  font-size: 11px;
}

.calls-number {
  font-size: 11px;
  font-weight: bold;
}

.call-log-number {
  font-weight: bold;
  font-size: 16px;
}

.call-log-duration {
  font-size: 11px;
}

.incoming {
  background-image: url('/images/incoming-call.png');
}

.missed {
  background-image: url('/images/missed-call.png');
}

.outgoing {
  background-image: url('/images/outgoing-call.png');
}

.incoming-container {
  height: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.incoming-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incoming-buttons {
  display: flex;
  justify-content: space-evenly;
}

.ring-button-animation {
  animation: scale 0.4s infinite alternate;
}

.center {
  margin: 0 auto;
}

@keyframes scale {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(120%);
  }
}

.contacts {
  background-image: url('/images/contacts.png');
}

.contact-icon {
  background-image: url('/images/contact.png');
  background-size: contain;
}

.add-contact {
  width: 40px;
  height: 40px;
  background-image: url('/images/addContact.png');
  background-size: contain;
  cursor: pointer;
}

.add-contact:active {
  transform: scale(90%);
}

.new-contact-button {
  display: block;
  width: 130px;
  margin: 10px auto;
  line-height: 2;
  border: 1px solid #4d8e92;
  border-radius: 10px;
  cursor: pointer;
}

.new-contact-button:hover {
  background-color: rgba(105, 99, 99, 0.44);
}

.new-contact-button:active {
  transform: scale(90%);
}

.new-contact-form {
  padding: 10px 20px;
}

.new-contact-input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.contact-button {
  margin-left: 5px;
  border: 1px solid #4d8e92;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: rgba(105, 99, 99, 0.44);
}

.login-button {
  display: block;
  width: 75px;
  margin: 0 auto;
}

.logout {
  background-image: url('/images/logout.png');
  background-size: contain;
}
